.about-us {
    color: rgb(56, 30, 0);
}

.about-us__text {
    display: flex;
    align-items: top;
    margin: 0 0 40px;
    letter-spacing: 1px;
}

@media (max-width: 1199px) {
    .about-us__text {
        flex-wrap: wrap;
        text-align: justify;
        flex-basis: 100%;
    }
}

.about-us__title {
    font-size: 36px;
    font-style: bold;
    margin-top: 0;
    color: rgb(228, 121, 0);
}

@media (max-width:991px) {
    .about-us__title {
        text-align: center;
    }
}

.about-us__paragraph {
    font-size: 18px;
    font-style: italic;
    line-height: 38px;
    margin-top: 0;
    max-width: 60%;
}

@media (max-width:1199px) {
    .about-us__paragraph {
        max-width: 100%;
    }
}

@media (max-width:767px) {
    .about-us__paragraph {
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 2;
    }
}

.about-us__trainers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: rgb(228, 121, 0);
    font-size: 20px;
}

.about-us__trainer {
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us__name {
    margin-bottom: 0;
}

.about-us__social-icons {
    display: flex;
    list-style: none;
    transform: translateX(-20px);
}

.about-us__link {
  margin: 0 5px;
}